body
{
    font-family: 'Quicksand', sans-serif;
    color:black;
    font-size: 16px;
    line-height: 22px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
/* header */
header{
    position: fixed;
    z-index: 10000;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
header .container{
  width:1100px;
  margin: 0 auto;
  position:relative;
}
header ul{

 
   margin-top: 25px;
   list-style: none;
   float: right;
  
}
header ul li{
    float: left;
    
    margin-left: 55px;
}
header ul li a{
    text-decoration: none;
    color:white;
}
header ul li a:hover{
    color: #a2c73c;
  
}
#header-logo{
   
    margin-top: 30px;
    
}
header .container::after{
    content: ""; 
    position: absolute; 
    top: 70px;
    left: -25px;
    border-top: 54px solid rgba(0, 0, 0, 0.5); 
    border-right: 123px solid rgba(0, 0, 0, 0.5); 
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px; 
    z-index: -1;   
}
#signup{
  height: 30px;
  width: 80px;
  margin-top: -10px;
  padding-top: 10px;
  padding-left: 20px;
  background-color: #a2c73c;
  color:white;
  border-radius: 40px;
}
#signup:hover{
 color:#a2c73c;
 background-color: white;

}
/* section 1 */
.section1{
   background-image: url(../Images/banner-img.png);
   background-size: cover;
    background-position: center;
    height: 700px;
    text-align: center;
}
.section1 .container{
  width:1100px;
  margin: 0 auto;
  position:relative;
  padding-top: 150px;
}
.section1 h1 {
  
  text-decoration: none;
  color:white;
  font-size: 50px;
  padding-top: 30px;
  font-weight:900;
}
#button1{
  margin: 0 auto;
  height: 60px;
  width:560px;
  border-radius: 30px;
  background-color: #a2c73c;
  text-decoration: none;
  color:white;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 500;
  border-style: none;
  border-width: 0px;
 
}

.section2 .container{
  height: 800px;
  width: 800px;
  margin: 0 auto;
  padding-top:110px;
  padding-bottom:110px;
  text-align: center;
 
}
.section2 .container div div{
  position: relative;
}

.section2 .container div div img{
  height: 266px;
  width: 266px;
}
.discover{
  position: absolute;
  text-decoration: none;
  font-weight: bolder;
  bottom: 0;
  margin-left: 70px;
  padding-bottom: 10px;
}
.discover a{
 
  color: black;
}
.discover::after{
  content: "\00BB";
  vertical-align: text-top;

}
#mid{
  padding-top: 80px;
  padding-bottom: 20px;
  
  height: 50px;
  width: 50px; 
} 

#hiddenB{
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  color: rgba(0, 0, 0, 0.2);
  font-size: 200px;
  top: 140px;
  left: 180px;
}

.section2 .container .title{
  padding-top:25px;
}
.section2 .container .product{
  color:#656161;
  padding-top:5px
}
.section2 .container .price{
  color:white;
  padding-top:25px;
}
#line1block1{
  background-color: #a2c73c;
}
#line1block1::after{
  content: "";
  position: absolute;
  float: right;
  top: 37%;
  right: -11%;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 29px solid #a2c73c;
  z-index: 100;
}
#line1block3{
  background-color: #075daa;
}
#line1block3::after{
  content: "";
  position: absolute;
  top: 100%;
  right: 33%;
  border-top: 38px solid #075daa;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  z-index: 100;
}
#line2block2{
 font-weight: bold;
}
#line3block1{
  background-color: #4494d1;
}
#line3block1::after{
  content: "";
  position: absolute;
  float: right;
  top: -14%;
  right: 33%;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  border-bottom: 38px solid #4494d1;
  z-index: 100;
}
#line3block3{
  background-color: #0eb049;
}
#line3block3::after{
  content: "";
  position: absolute;
  float: left;
  top: 34%;
  right: 100%;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-right: 34px solid #0eb049;
  z-index: 100;
}
#midtext1{
  color:#656161;
  font-style: italic;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.section2 .container div div p{
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px; 
}
.section2 #line1 div{
  height: 266px;
  width: 266px;
   
 float: left;
}
.section2 .line2 div{
  height: 266px;
  width: 266px;
  float: left;
}
.section2 .line3 div{
  height: 266px;
  width: 266px;
  float: left;
}
/* section3 */
.section3{
  
  
  width: 100%;
  height: 538px;
  background-color: #0072bc;
  color: white;
  text-align: center;
}
.section3 .container{
  width:1100px;
  margin: 0 auto;
  position:relative;
}
.section3 h1{
  padding-top: 88px;
  margin-bottom: 50px;
}
.section3 div p{

  font-size: 20px;
}
.section3 .text{
  margin-bottom: 50px;
}
.section3 #button2{
  height: 60px;
  width:560px;
  border-radius: 30px;
  background-color: #a2c73c;
  color:white;
  font-size: 30px;
  font-weight: 500;
  border-style: none;
  border-width: 0px;
 
}
.section3 .button2{
  margin-bottom: 90px;
}
.section4{
  
  text-align: center;
}
.section4 .container{
  width:1200px;
  margin: 0 auto;
  position:relative;
  padding-bottom: 90px;
}
.section4 .container div{
  width: 370px;
  display: inline-block;
  padding-top: 40px;
  padding-left:20px;
}
.fgheader{
  margin-top:45px;
  margin-bottom:20px;
}
.section4 div{
  
}
#whitebutton{
 
  margin-top: 100px;
  padding: 0;
  

}
.whitebutton {

  text-decoration: none;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  height: 65px;
  color: #0072bc;
  border-style: solid;
  border-color: #a2c73c;
  border-width: 2px;
  border-radius: 30px;
}

footer{
  background-color: #0f151a;
  text-align: center;
}
footer .container{
  width:1100px;
  margin: 0 auto;
  position:relative;
}

footer .part1{
  
 
  height: 282px;
  width: 100%;
  
 
}
footer .part1 div{
  display: inline-block;
  /* float: left; */
  
}
.part1-left{
 
  height: 282px;
  width: 40%;
  /* background-color: #a2c73c; */
}

.part1-right{
 
  height: 282px;
  width: 40%;
  vertical-align: top;
  /* background-color: chocolate; */
}

#footerlinks{
  margin: 0px;
  padding:0px;
  padding-bottom: 20px;
}

#footerlogo{
  margin-top: 50px;
  display: block;
}
#socialmedia img{
  margin: 30px;
  margin-top: 55px;
  display: inline-block;
}
#footerlinks div ul li{
  margin:20px;
  padding-bottom: 20px;
}
#footerlinks div ul li a{
  color: #3e6485;
}
#footerlinks div ul li a:hover {
  color: #7fa810;
}
#footerlinks div{
  text-decoration: none;
  text-align: left;
  margin-top: 25%;

}
.part2{
  height: 50px;
  width: 99%;
  text-align: center;
  color:#3e6485;
  text-align:center;
  padding-top:30px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-top-color: black;
}